<div class="select-hour">
  @if (weekPagerIsVisible) {
    <turnex-week-pager
      (currentWeekData)="setCurrentWeek($event)"></turnex-week-pager>
  }
  @for (day of selectedDays; track day.description) {
    <div class="select-hour__day">
      <span class="select-hour__day--title"
        >{{ day.description }} {{ day.date | date: 'dd/MM/yyyy' }}</span
      >
      <div class="select-hour__hourList">
        @for (hour of selectedDaysWithTimes[day.description]; track hour.description) {
          <div
            class="select-hour__hour-detail"
            aria-disabled="true"
            [ngClass]="{ 'select-hour--selected': hour.isSelected }"
            (click)="onHourSelect(hour)"
            (keydown)="onHourSelect(hour)">
            <span
              class="fi-rr-check select-hour__icon"
              [ngClass]="{ 'fi-rr-check': hour.isSelected }"></span
            >{{ hour.description }}
          </div>
        }
      </div>
    </div>
  }
</div>
