@import 'variables';

ul {
  list-style: none;

}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__first-section {
    display: flex;
    align-items: center;
  }

  &__title-box {
    display: flex;
    align-items: center;
    margin-right: 64px;
    gap: $turnex-spacing-12;
    cursor: pointer;
  }

  &__title {
    color: $turnex-alabaster-900;
    @include Rubik();
    font-size: $turnex-spacing-36;
    font-style: normal;
    font-weight: bold;
    line-height: $turnex-spacing-40;
  }

  &__client-name {
    color: $turnex-alabaster-900;
    @include Rubik-Light();
    font-size: $turnex-spacing-36;
    font-style: normal;
    line-height: $turnex-spacing-40;
  }

  &__menu {
    display: flex;
    gap: $turnex-spacing-32
  }

  &__ul {
    display: flex;
    align-items: center;
    gap: $turnex-spacing-24;
    align-self: stretch;
  }

  &__text {
    color: $turnex-alabaster-900;
    text-align: center;
    @include Rubik();
    font-size: $turnex-spacing-16;
    font-style: normal;
    font-weight: bold;
    line-height: $turnex-spacing-24;
  }

  &__active {
    color: $turnex-primary-800;
  }

  &__logout-button {
    display: flex;
    padding: $turnex-spacing-12 $turnex-spacing-20;
    gap: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: $turnex-alabaster-100;
    color: $turnex-alabaster-800;
    @include Rubik();
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;

    &:hover {
      background: $turnex-alabaster-200
    }
  }

  &__right-box {
    display: flex;
    gap: $turnex-spacing-24;
    align-items: center;
  }

  &__beta-box {
    display: flex;
    padding: $turnex-spacing-12;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    height: $turnex-spacing-8;
    background: #DBE8FE
  }

  &__beta-text {
    color: #1E55AF;
    text-align: center;
    @include Rubik();
    font-size: $turnex-spacing-12;
    font-style: normal;
    font-weight: 400;
    line-height: $turnex-spacing-16;
  }
}

@media (max-width: $turnex-breakpoint-xs) {
  .navbar {
    display: flex;
    position: fixed;
    width: 100%;
    background: white;
    top: 0px;
    justify-content: space-around;

    &__title {
      font-size: $turnex-spacing-24;
    }

    &__first-section {
      background: white;
      top: 0px;
      height: 50px;
    }

    &__client-name {
      font-size: $turnex-spacing-24;
    }
  }
}
