@import 'variables';

.select-items {
  display: flex;
  gap: $turnex-spacing-16;
  margin-top: $turnex-spacing-40;
}

@media (max-width: $turnex-breakpoint-xs) {
  .select-items {
    flex-wrap: wrap;
  }
}
