@use 'variables' as *;

.select-day {
  margin-top: $turnex-spacing-40;

  &__counter {
    @include Rubik();
    font-size: $turnex-spacing-14;
    color: $turnex-alabaster-600;
    margin-bottom: $turnex-spacing-16;

    &--complete {
      color: $turnex-primary-800;
      font-weight: 700;
    }
  }

  &__grid {
    display: flex;
    gap: $turnex-spacing-16;
    flex-wrap: wrap;
  }

  &__card-day {
    display: flex;
    padding: $turnex-spacing-16;
    align-items: center;
    border-radius: 4px;
    border: 1px solid $turnex-alabaster-100;
    background: $turnex-alabaster-50;
    cursor: pointer;
    gap: 4px;

    &:hover:not(.select-day__card-day-disabled) {
      border: 1px solid $turnex-primary-800;
      background: #F5F5FD;
      color: $turnex-primary-800;
    }

    &-selected {
      border: 1px solid $turnex-primary-800;
      background: #F5F5FD;
      color: $turnex-primary-800;
    }

  }

  &__day-text {
    text-align: center;
    @include Rubik-Bold();
    font-size: $turnex-spacing-18;
    font-style: normal;
    line-height: 28px;
  }
}
