@if (state) {
  <div class="new-shift-summary">
    <div>
      <span class="new-shift-summary__detail-box-title"
        >Especialidad seleccionada:
      </span>
      <span class="new-shift-summary__detail-box-sub-title"
        >{{ state.specialty?.description }}
      </span>
    </div>
    <div>
      <span class="new-shift-summary__detail-box-title"
        >Pack seleccionado:
      </span>
      <span class="new-shift-summary__detail-box-sub-title"
        >{{ state.pack?.description }}
      </span>
    </div>
    <div>
      <span class="new-shift-summary__detail-box-title"
        >Días y horarios seleccionados:
      </span>
      <div class="new-shift-summary__detail-box-sub-titles">
        @for (day of state.days; track day) {
          <div class="new-shift-summary__detail-box-sub-title">
            <span>{{ day.description }} {{ day.date }}</span>
            @if (state.hours) {
              <div>
                @for (hour of state.hours[day.description]; track hour) {
                  <span>
                    {{ hour.isSelected ? hour.description + ' hs' : '' }}
                  </span>
                }
              </div>
            }
            ,
          </div>
        }
      </div>
    </div>
    <div class="new-shift-summary__info-message-box">
      <span class="new-shift-summary__info-message-title">¡Importante!</span>
      <span class="new-shift-summary__info-message-text"
        >Tu próxima clase comenzará el Miércoles 10/10/2023 a las 17:00
        hs.</span
      >
    </div>
  </div>
}
