@import 'variables';

.new-shift-summary {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-top: 1px solid #D0D9E7;
  margin-top: $turnex-spacing-32;
  padding-top: 52px;

  &__detail-box {
    display: flex;
    flex-direction: column;
    gap: $turnex-spacing-8;
  }

  &__detail-box-title {
    color: #1E2533;
    font-size: $turnex-spacing-24;
    font-style: normal;
    @include Rubik-Bold();
    line-height: $turnex-spacing-32;
  }

  &__detail-box-sub-titles {
   display: flex;
   gap: $turnex-spacing-16;
  }

  &__detail-box-sub-title {
    display: flex;
    gap: $turnex-spacing-16;
    color: $turnex-alabaster-500;
    @include Rubik();
    font-size: $turnex-spacing-18;
    font-style: normal;
    font-weight: 400;
    line-height: $turnex-spacing-28;
  }

  &__info-message-box {
    display: flex;
    flex-direction: column;
    padding: $turnex-spacing-16;
    gap: $turnex-spacing-12;
    align-self: stretch;
    border-radius: $turnex-spacing-8;
    background: #DBE8FE;
  }

  &__info-message-title {
    color: #1D64D8;
    @include Rubik();
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: $turnex-spacing-24;
  }

  &__info-message-text {
    color: #1D64D8;
    @include Rubik();
    font-size: $turnex-spacing-14;
    font-style: normal;
    font-weight: 400;
    line-height: $turnex-spacing-20;
  }
}

@media (max-width: $turnex-breakpoint-xs) {
 .new-shift-summary {
  &__detail-box-title {
    font-size: $turnex-spacing-18;
    line-height: $turnex-spacing-28;
  }

  &__detail-box-sub-title {
    font-size: $turnex-spacing-14;
  }
 }
}
