@if (state) {
  <div class="new-shift-summary">
    <div>
      <span class="new-shift-summary__detail-box-title"
        >Especialidad seleccionada:
      </span>
      <span class="new-shift-summary__detail-box-sub-title"
        >{{ state.companySpecialty?.name ?? state.specialty?.description }}
      </span>
    </div>
    <div>
      <span class="new-shift-summary__detail-box-title"
        >Pack seleccionado:
      </span>
      <span class="new-shift-summary__detail-box-sub-title"
        >{{ state.pack?.description }}
      </span>
    </div>
    <div>
      <span class="new-shift-summary__detail-box-title">Días y horarios seleccionados:</span>
      <div class="new-shift-summary__detail-box-sub-titles">
        @for (day of daysWithHours; track day.description) {
          <div class="new-shift-summary__detail-box-sub-title">
            <span>{{ day.description }}@if (day.date) { {{ day.date | date: 'dd/MM/yyyy' }}}</span>
            <span>
              @for (hour of selectedHoursFor(day.description); track hour) {
                {{ hour }} hs
              }
            </span>
          </div>
        }
      </div>
    </div>
    @if (nextShiftText) {
      <div class="new-shift-summary__info-message-box">
        <span class="new-shift-summary__info-message-title">¡Importante!</span>
        <span class="new-shift-summary__info-message-text">{{ nextShiftText }}</span>
      </div>
    }
  </div>
}
