
<div class="welcome">
  <div class="welcome__central-box">
    <div class="welcome__logo-box"></div>
  <div class="welcome__title">Te damos la bienvenida</div>
  <span class="welcome__sub-title">Comienza a gestionar tus turnos de forma eficiente y ordenados.</span>
  <div class="welcome__welcome-img"></div>
  <button class="welcome__button-submit">
    <span class="welcome__button-text">Registrarme</span>
  </button>
  <span class="welcome__with-account-message">¿Ya tienes cuenta?</span>
  <span class="welcome__login-link">Iniciar sesión</span>
  </div>
</div>
