@import 'variables';

.shifts {

  &__principal-box {
    display: flex;
    justify-content: space-between;
  }

  &__new-shift-button {
    display: flex;
    padding: 12px 20px;
    gap: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: $turnex-secondary-300;
    color: #fff;
    &:hover {
      background: $turnex-secondary-400;
    }
  }

  &__button {
    border: none;
    color: $turnex-alabaster-500;
    width: 100%;
    display: flex;
    border-radius: $turnex-spacing-8;
    padding: $turnex-spacing-8 $turnex-spacing-24;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      background: $turnex-primary-900;
      color: #fff;
    }
  }

  &__selected {
    background: $turnex-primary-800;
    color: #fff;
  }

  &__sub-title {
    color: $turnex-alabaster-600;
    @include Rubik();
    font-size: 24px;
    font-style: normal;
    line-height: 32px;
    margin-top: $turnex-spacing-12;
  }

  &__filters-box {
    display: flex;
    gap: 4px;
    align-items: center;
    max-width: 328px;
    margin: $turnex-spacing-40 0 $turnex-spacing-36 0;
  }

  &__list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }

  &__text {
    @include Rubik();
    font-size: $turnex-spacing-16;
    font-style: normal;
    line-height: $turnex-spacing-24;
  }

  &__pack-detail {
    font-weight: bold;
  }
}

@media (max-width: $turnex-breakpoint-xs) {

  .shifts {
    &__button {
      padding: $turnex-spacing-12 $turnex-spacing-16;
    }

    &__text {
      font-size: $turnex-spacing-14;
    }

    &__filters-box {
      gap: 0;
    }
  }
}
