@import 'variables';

:host {
  width: 100%;
  max-width: 400px;
}

.shift-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: $turnex-spacing-16;
  max-width: 400px;
  gap: $turnex-spacing-10;
  border-radius: $turnex-spacing-16;
  border: 1px solid $turnex-alabaster-100;
  background: $turnex-alabaster-50;

  &__title {
    color: $turnex-alabaster-950;
    @include Rubik();;
    font-size: $turnex-spacing-18;
    font-style: normal;
    line-height: $turnex-spacing-28;
  }

  &__date {
    display: flex;
    flex-direction: column;
    color: $turnex-alabaster-600;;
    @include Rubik();;
    font-size: $turnex-spacing-16;
    font-style: normal;

    line-height: $turnex-spacing-24;
  }

  &__buttons-box {
    display: flex;
    width: 100%;
    gap: $turnex-spacing-8;
  }

  &__button {
    width: 198px;
    flex: 1;
  }

  &__date-hour {
    display: flex;
    align-items: center;
    gap: $turnex-spacing-10;
  }
}
