<div class="shift-card">
  <span class="shift-card__title"
    >Clases de {{ shift.specialty?.description }}</span
  >
  <div class="shift-card__date">
    <div class="shift-card__date-hour">
      <span class="fi-rr-calendar"></span>
      <span> {{ day }}</span>
    </div>
    <div class="shift-card__date-hour">
      <i class="fi-rr-clock-nine"></i>
      <span>hora {{ shift.time }} hs</span>
    </div>
  </div>
  @if (shift.status !== typeShift.COMPLETED) {
    <div class="shift-card__buttons-box">
      @if (shift.status !== typeShift.CANCELED) {
        <turnex-button
          text="Cancelar"
          type="reset"
          class="shift-card__button"></turnex-button>
      }
      <turnex-button
        text="Reagendar"
        class="shift-card__button"></turnex-button>
    </div>
  }
</div>
