<div class="shift-card">
  <span class="shift-card__title">Clases de pilates</span>
  <div class="shift-card__date">
    <div class="shift-card__date-hour">
    <span class="fi-rr-calendar"></span>
    <span> {{ day }}</span>
    </div>
    <div class="shift-card__date-hour">
      <i class="fi-rr-clock-nine"></i>
      <span>hora {{ time }} hs</span>
    </div>

  </div>
  <div class="shift-card__buttons-box" *ngIf="status !== typeShift.COMPLETED">
    <turnex-button text="Cancelar" type="reset" *ngIf="status !== typeShift.CANCELED" class="shift-card__button"></turnex-button>
    <turnex-button text="Reagendar" class="shift-card__button"></turnex-button>
  </div>
</div>
