@import 'variables';

:host {
  width: 100%;
  max-width: 400px;
}

.shift-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 10px;
  border-radius: 16px;
  border: 1px solid $turnex-alabaster-100;
  background: $turnex-alabaster-50;

  &__title {
    color: $turnex-alabaster-950;
    @include Rubik();;
    font-size: 18px;
    font-style: normal;
    line-height: 28px;
  }

  &__date {
    display: flex;
    flex-direction: column;
    color: $turnex-alabaster-600;;
    @include Rubik();;
    font-size: 16px;
    font-style: normal;

    line-height: 24px;
  }

  &__buttons-box {
    display: flex;
    width: 100%;
    gap: 8px;
  }

  &__button {
    width: 198px;
    flex: 1;
  }

  &__date-hour {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
