<div class="bottom-bar">
  <div class="bottom-bar__item">
    <a routerLink="/home" routerLinkActive="active" class="bottom-bar__link">
      <span class="fi-rr-home"></span>
    </a>
      <span class="bottom-bar__text">Inicio</span>
  </div>

  <div class="bottom-bar__item">
    <a routerLink="/shifts" routerLinkActive="active" class="bottom-bar__link">
      <span class="fi-rr-calendar"></span>
    </a>
    <span class="bottom-bar__text">Turnos</span>
  </div>

  <div class="bottom-bar__item">
    <a routerLink="/home" routerLinkActive="active" class="bottom-bar__link">
      <span class="fi-rr-user"></span>
    </a>
      <span class="bottom-bar__text">Perfil</span>
  </div>

</div>
