@import 'variables';
.app {
  display: flex;
  flex-direction: column;
  padding: $turnex-spacing-6 104px;
  &__principal-content {
		margin-top: 90px;
		background-color: #fff !important;
	}

  &__bottom-bar {
    display: none;
  }
}

@media (max-width: $turnex-breakpoint-xs) {
  .app {
    padding: 0;
    &__principal-content {
      padding: $turnex-spacing-18;
    }
    &__navbar {
      display: block;
    }

    &__bottom-bar {
      display: flex;
    }
  }
}
