<div [ngClass]="{ 'new-shift__success': $step === 6 }">
  <div [ngClass]="{ 'new-shift__success-box': $step === 6 }">
    @if ($step === 6) {
      <div
        class="new-shift__success-img"
        [ngClass]="{
          'new-shift__success-img new-shift__success-box': !errorOnSave,
          'new-shift__error-img new-shift__success-box': errorOnSave,
        }"></div>
    }
    <turnex-title [text]="title"></turnex-title>
    <div class="new-shift__sub-title">
      <span>{{ subTitle }} </span>
    </div>
  </div>

  @if ($step === 1 && userCompanyId) {
    <turnex-select-specialty
      [companyId]="userCompanyId"
      [selectedId]="selectedSpecialtyId"
      (specialtySelected)="onSpecialtySelected($event)"></turnex-select-specialty>
  }

  @if ($step === 2) {
    <turnex-select-items
      [items]="packs"
      (itemSelected)="toggleSelection($any($event))"></turnex-select-items>
  }

  @if ($step === 3) {
    <turnex-select-day [maxDays]="packMaxDays" [availableDays]="scheduleDays"></turnex-select-day>
  }

  @if ($step === 4) {
    <turnex-select-hour
      [hoursCount]="scheduleHoursCount"
      [interval]="scheduleInterval"
      [startTime]="scheduleStartTime"></turnex-select-hour>
  }

  @if ($step === 5) {
    <turnex-new-shift-summary></turnex-new-shift-summary>
  }

  <div class="new-shift__button-box">
    @if ($step > 1 && $step < 6) {
      <turnex-button
        [text]="previousButtonText"
        [type]="'reset'"
        class="new-shift__button"
        (click)="onPreviousButton()"
        (keyPress)="onPreviousButton()"
        tabIndex="{0}"></turnex-button>
    }
    <turnex-button
      [text]="nextButtonText"
      class="new-shift__button"
      (click)="onNextButton()"
      (keyPress)="onNextButton()"
      tabIndex="{0}"
      [disabled]="isNextButtonDisabled"></turnex-button>
  </div>
</div>
