@import 'variables';


.button {
  border: none;
  background: $turnex-primary-800;
  width: 100%;
  max-width: 198px;
  display: flex;
  background: $turnex-primary-800;
  border-radius: $turnex-spacing-8;
  padding: $turnex-spacing-8 $turnex-spacing-24;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    background: $turnex-primary-900;
  }

  &__text {
    color: $turnex-white-50;
    @include Rubik();;
    font-size: $turnex-spacing-16;
    font-style: normal;
    line-height: $turnex-spacing-24;
  }

  &__disabled {
    background: $turnex-alabaster-100;
    cursor: not-allowed;
    &:hover {
      background: $turnex-alabaster-100;
    }
  }

  &__disabled_text {
    color: $turnex-alabaster-400;
  }

  &__reset {
    border: 1px solid $turnex-alabaster-100;
    color: $turnex-alabaster-800;
    background-color: $turnex-alabaster-100;
    &:hover {
      background: $turnex-alabaster-200;
    }
  }

  &__reset-text {
    color: $turnex-alabaster-800;
  }
}
