
<div class="home">
  <div class="home__central-box">
    <div class="home__logo-box"></div>
  <div class="home__title">Te damos la bienvenida</div>
  <span class="home__sub-title">Comienza a gestionar tus turnos de forma eficiente y ordenados.</span>
  <div class="home__welcome-img"></div>
  <button class="home__button-submit">
    <span class="home__button-text">Registrarme</span>
  </button>
  <span class="home__with-account-message">¿Ya tienes cuenta?</span>
  <span class="home__login-link">Iniciar sesión</span>
  </div>
</div>
