@import 'variables';
.home {
  &__sub-title {
    color: $turnex-alabaster-600;
    @include Rubik();
    font-size: $turnex-spacing-18;
    font-style: normal;
    line-height: 32px;
    margin-top: $turnex-spacing-16;
    margin-bottom: 40px;
  }

  &__detail-box-title {
    color: #1E2533;
    font-size: $turnex-spacing-24;
    font-style: normal;
    @include Rubik-Bold();
    line-height: $turnex-spacing-32;
    margin-bottom: $turnex-spacing-8;
  }

  &__detail-box-title-2 {
    margin: 24px 0 16px 0;
  }

}
