<div class="home">
  <turnex-title [text]="user"></turnex-title>
  <div class="home__sub-title">
    Gestiona tus turnos de manera fácil y eficiente.
  </div>
  <div class="home__detail-box-title">Próximo turno</div>
  @if (nextShift) {
    <turnex-shift-card
      [shift]="nextShift"
      (cancelShift)="onCancelShift($event)"
      (rescheduleShift)="onRescheduleShift($event)">
    </turnex-shift-card>
  }
  <div class="home__detail-box-title home__detail-box-title-2">
    Agenda un nuevo turno
  </div>
  @if (userCompanyId) {
    <turnex-select-specialty
      [companyId]="userCompanyId"
      (specialtySelected)="goToNewShift($event)">
    </turnex-select-specialty>
  } @else {
    <p class="home__no-company">No tenés una sede asignada. Contactá a tu administrador.</p>
  }
</div>
