<div style="display: flex; padding: 24px; background: #F9FAFC; border-radius: 8px; align-items: center; justify-content: center; width: 430px; height: 36px; box-sizing: border-box;">
  <span class="fi-rr-less-than" style="cursor: pointer;" (click)="previousWeek()"></span>
  <div style="display: flex; justify-content: space-around; margin: 0 10px;">
    <span style="color:  #1E2533;
    text-align: center;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 36px; width: 270px;">{{week}} </span>
  </div>
  <span class="fi-rr-greater-than" style="cursor: pointer;" (click)="nextWeek()"></span>
</div>
