$turnex-primary-50: #f5f5fd;
$turnex-primary-100: #eeecfb;
$turnex-primary-200: #dfdcf8;
$turnex-primary-300: #c7c0f2;
$turnex-primary-400: #ab9ce9;
$turnex-primary-500: #8c74de;
$turnex-primary-600: #7a56d1;
$turnex-primary-700: #6a43be;
$turnex-primary-800: #5f3caa;
$turnex-primary-900: #4a3082;
$turnex-primary-950: #2e1d58;

$turnex-secondary-50: #fff1f3;
$turnex-secondary-100: #ffe3e6;
$turnex-secondary-200: #ffccd5;
$turnex-secondary-300: #ff8ca0;
$turnex-secondary-400: #fe6e8a;
$turnex-secondary-500: #f83b65;
$turnex-secondary-600: #e51950;
$turnex-secondary-700: #c20e43;
$turnex-secondary-800: #a20f3f;
$turnex-secondary-900: #8b103c;
$turnex-secondary-950: #4e031c;

$turnex-alabaster-50: #f9fafc;
$turnex-alabaster-100: #eaedf4;
$turnex-alabaster-200: #d0d9e7;
$turnex-alabaster-300: #a7b9d2;
$turnex-alabaster-400: #7893b8;
$turnex-alabaster-500: #5776a0;
$turnex-alabaster-600: #445e85;
$turnex-alabaster-700: #384c6c;
$turnex-alabaster-800: #31415b;
$turnex-alabaster-900: #2d384d;
$turnex-alabaster-950: #1e2533;

$turnex-white-50: #ffffff;
$turnex-white-100: #efefef;
$turnex-white-200: #dcdcdc;
$turnex-white-300: #bdbdbd;
$turnex-white-400: #989898;
$turnex-white-500: #7c7c7c;
$turnex-white-600: #656565;
$turnex-white-700: #525252;
$turnex-white-800: #464646;
$turnex-white-900: #3d3d3d;
$turnex-white-950: #292929;

$turnex-black-50: #f6f6f6;
$turnex-black-100: #e7e7e7;
$turnex-black-200: #d1d1d1;
$turnex-black-300: #b0b0b0;
$turnex-black-400: #888888;
$turnex-black-500: #6d6d6d;
$turnex-black-600: #5d5d5d;
$turnex-black-700: #4f4f4f;
$turnex-black-800: #454545;
$turnex-black-900: #3d3d3d;
$turnex-black-950: #000000;

$turnex-red-information: #DC2626
