

$turnex-spacing-2: 2px;
$turnex-spacing-4: 4px;
$turnex-spacing-6: 6px;
$turnex-spacing-8: 8px;
$turnex-spacing-10: 10px;
$turnex-spacing-12: 12px;
$turnex-spacing-14: 14px;
$turnex-spacing-16: 16px;
$turnex-spacing-18: 18px;
$turnex-spacing-20: 20px;
$turnex-spacing-22: 22px;
$turnex-spacing-24: 24px;
$turnex-spacing-28: 28px;
$turnex-spacing-30: 30px;
$turnex-spacing-32: 32px;
$turnex-spacing-36: 36px;
$turnex-spacing-40: 40px;
$turnex-spacing-48: 48px;
$turnex-spacing-120: 120px;
