@font-face {
	font-family: 'Rubik';
	src: url(../assets/fonts/Rubik/Rubik-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Rubik-Bold';
	src: url(../assets/fonts/Rubik/Rubik-Bold.ttf) format('truetype');
}
